.home-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.promo-banner {
  width: 100%;
  margin-bottom: 0;
}

.banner-image {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: block;
}

.fashion-carnival-banner {
  width: 100%;
  padding-bottom: 20px;
}

.banner-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.banner-half {
  position: relative;
  width: 100%;

}

.half-banner-image {
  width: 100%;
  display: block;
}


.banner-button {
  position: absolute;
  top: 74%;
  left: 55%;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  color: #283593; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  transition: all 0.2s ease;
  cursor: pointer;
}


.her-button {
  left:31%;
  padding: 0 10px 0 0;
}

.her-button .arrow-icon {
  width: 25px;
  height: 25px;
  background-color: #283593; 
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 15px;

}

.her-button .icon-text {
  margin-right: auto;
  margin-left: 8px;
}

/* HIM button specific styles */
.him-button {
  padding: 0 0 0 10px;
}

.him-button .icon-text {
  margin-left: auto;
  margin-right: 8px;
  
}

.him-button .arrow-icon {
  width: 25px;
  height: 25px;
  background-color: #283593; /* Exact blue color from your images */
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 15px;

}



/* Responsive adjustments */
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
  }
  
  .banner-half {
    width: 100%;
    margin-bottom: 20px;
  }
  
}